@charset "utf-8";
/* CSS Document */

body {background-color: moccasin;}
#Wrapper {width: 900px; margin: 1px auto; background-color:white; padding: 0px;}

#SuperWrapper {width: 950px; margin: 0px auto; background-color:white; padding: 10px;}
 
#Logo {float:left; margin:10px 0; padding:10px;}

#icon {float:right; margin:10px 0; padding: 10px 0;}

#navigation {clear:both; word-spacing: 40px; border-top: solid black 1px; border-bottom: solid black 1px; margin-bottom: 10px;padding:10px; font-size: 12px; font-family: "Arial Black";}

#navigation a:link {color:#f90;}
#navigation a:visited {color:black;}
#navigation a:hover {color: aqua;}
#navigation a {text-decoration-line:none;}

#KotakMiddle {float:center; width:900px;}
#KotakMiddle h1 {color:#f90; border-bottom: solid black 0.5px; margin-top:25px; padding-bottom:15px; font-family: "Arial";}

#Wrapper1 {width: 250px; margin: 1px auto; background-color:#C7C7C7; padding: 0px;}
#SuperWrapper1 {width: 280px; height: 400px; background-color:#C7C7C7; margin-left:5px; margin-right:15px;margin-top:50px; border-top: solid red 20px;}

#Kotak1 { width:302px;height: 325px; margin-top:-450px;margin-left:5px;}
#Kotak1 h2 {margin-top: 65px;}
#Kotak1 img {width:280px; padding-bottom:10px;}

#Wrapper2 {width: 250px; margin: 1px auto; background-color:#C7C7C7; padding: 0px;}
#SuperWrapper2 {width: 280px; height: 400px; margin: 25px auto; background-color:#C7C7C7; margin-left:315px; margin-right:350px;margin-top:-360px; border-top: solid blue 20px;}

#Kotak2 { width:302px;height: 350px; margin-top:-455px; margin-left:315px;}
#Kotak2 h2 {margin-top: 70px;}
#Kotak2 img {width:280px; padding-bottom:10px;}

#Wrapper3 {width: 250px; margin: 1px auto; background-color:#C7C7C7; padding: 0px;}
#SuperWrapper3 {width: 280px; height: 400px; margin: 50px auto; background-color:#C7C7C7; margin-left:625px; margin-right:650px;margin-top:-385px; border-top: solid green 20px;}

#Kotak3 { width:302px;height: 350px; margin-top:-485px; margin-left:625px;}
#Kotak3 h2 {margin-top: 100px;}
#Kotak3 img {width:280px; padding-bottom:10px;}

#Footer {clear:both; text-align: center ; border-top: solid black 0.5px; margin: 50px ;}

